@charset "utf-8";
/* CSS Document */

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

@media screen and (max-width: 500px) {
  .inside #map-container, .inside #map-container-main {
    height: 280px;
  }

  #restaurant-container {
    flex-direction: column;
  }

  #reviews-list {
    flex-direction: column;
  }

  #reviews-list li {
    width: 100%;
  }

  .restaurant-info {
    width: 100%;
  }

  #info-right {
    padding-left: 0;
  }

  nav[role="main"] h1 a {
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .inside #map-container, .inside #map-container-main {
    height: 320px;
  }

  #restaurant-container {
    flex-direction: row;
  }

  #reviews-list {
    flex-direction: column;
  }

  #reviews-list li {
    width: 100%;
  }

  .restaurant-info {
    width: 100%;
  }

  #info-right {
    padding-left: 20px;
  }

  nav[role="main"] h1 a {
    letter-spacing: 6px;
  }
}

@media screen and (min-width: 801px) {
  .inside #map-container, .inside #map-container-main {
    height: 400px;
  }

  .restaurant-info {
    width: 50%;
  }

  #info-right {
    padding-left: 20px;
  }

  #reviews-list li {
    width: 46%;
  }

  #reviews-list:after {
    flex: auto;
  }

  nav[role="main"] h1 a {
    letter-spacing: 10px;
  }
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
  background-color: #f3f3f3;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: #b56000;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

#maincontent-main, #maincontent {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: margin-left .5s;
}

#maincontent-main {
  top: 50px;
}

#maincontent {
  top: 96px;
}

.about {
  top: 50px;
  flex-direction: column;
}

#footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 15px 2px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#footer a {
  color: #dca48a;
}

/* ====================== Navigation ====================== */
nav[role="main"] {
  width: 100%;
  height: 50px;
  background-color: #252831;
  text-align:center;
  display: flex;
  justify-content: flex-end;
}

nav[role="main"] span {
  padding-left: 10px;
  font-size: 26pt;
  cursor:pointer;
  color: #fff;
}

nav[role="main"] h1 {
  margin: auto;
  padding-top: 5px;
}

nav[role="main"] h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 10px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    border-bottom: 1px solid darkgray;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #005096;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  align-items: center;
  border-top: 1px solid #818181;
}

.filter-options h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: #818181;
  padding: 20px 8px 8px 32px;
}

.filter-options label {
  margin: 0;
  color: #818181;
  padding: 20px 8px 8px 32px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 8px 8px 8px 32px;
  width: 180px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-container {
  width: 100%;
  margin-bottom: 60px;
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 380px;
  min-width: 250px;
  max-width: 300px;
  text-align: left;
  border-radius: 40px 10px;
  padding: 1.5rem;
  flex: 1 0 calc(33.3333% - 10px);
  margin-left: 10px;
	margin-top: 10px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 8px;
}

#restaurants-list li h2 {
  color: #b56000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #b56000;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

/* ====================== Restaurant Details ====================== */

.inside {
  display: flex;
  flex-wrap: wrap;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  width: 100%;
  background: blue none repeat scroll 0 0;
}

.inside #map-container-main {
  width: 100%;
  background: blue none repeat scroll 0 0;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#restaurant-name {
  color: #b56000;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
  border-radius: 8px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  border-radius: 5px;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px;
}

#restaurant-container {
  width: 100%;
  display: flex;
}

.restaurant-info {
  margin: auto;
}

#info-right {
  text-align: -webkit-center;
}

#reviews-container {
  width: 100%;
  margin-bottom: 20px;
}

#reviews-container h3 {
  color: #7f4200;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  padding: 0px;
  margin-top: 10px;
  min-height: 30vh;
}

#reviews-list li p {
  margin: 20px 30px 30px;
}

#restaurant-hours td {
  color: #666;
}

.review-container {
  border-radius: 30px 10px;
}

.review-container p {
  font-size: 12pt;
}

.review-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: #767676;
  margin-bottom: 20px;
}

.review-name {
  font-size: 14pt;
  margin-left: 20px;
}

.review-date {
  font-size: 12pt;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.review-rating {
  background-color: #b56000;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  width: 80px;
  padding: 10px;
  text-transform: uppercase;
  margin-left: 30px;
  border-radius: 5px;
}

/* ====================== Sidebar + Filter ====================== */

.sidenav, .sidenav-detail {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav {
    padding-top: 60px;
}

.sidenav-detail {
    padding-top: 106px;
}

.sidenav a, .sidenav-detail a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18pt;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .sidenav-detail a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn, .sidenav-detail .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn {
    top: 0;
}

.sidenav-detail .closebtn {
    top: 46px;
}

/* ====================== Sources / Social ====================== */

#sources {
  padding: 20px;
}

#sources h2 {
  color: #b56000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
}

#social {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#social h2 {
  color: #b56000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
}

#social a {
  padding: 10px 0;
}

/* ====================== Modal Box ====================== */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #b56000;
    color: white;
}

.modal-body {
  padding: 12px 16px;
}

.button {
  background-color: #b56000;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
    background-color: #d56000;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submitModal {
    background-color: #b56000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitModal:hover {
    background-color: #d56000;
}

/* ====================== Alert Info ====================== */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    display: none;
}

.alert.success {background-color: #4CAF50;}
/* .alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;} */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* ============= On- / Offline Status Indicator =========== */

#status {
  position : fixed;
  width: 100px;
  /* font : bold 1em sans-serif; */
  color: #FFF;
  padding : 0.5em;
}

.online {
  background: green;
}

.offline {
  background: red;
}
